<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Tilda test</title>
    
</head>
<body>    
    <nav class="navbar bg-light">
        <div class="container-fluid container">
            <span class="navbar-brand mb-0 h1">Тестовое задание №3</span>
            <span class="navbar-brand mb-0 h1">{{ contact }}</span>
        </div>
    </nav>
    <main class="pt-3">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Задача 3: фронт
                </div>
                <div class="card-body">
                    <p>Вы работаете в компании, присутствующей в нескольких городах РФ. На сайте компании есть страница с контактной информацией. Маркетолог поставил задачу и уехал, к его приезду задача должна быть реализована.</p>
                    <p>На страницу контактов заходят люди из разных городов, нужно чтобы они видели телефон из своего города. По умолчанию, в HTML-страницы прописан телефон 8-800-DIGITS. Телефон размещен в верху и внизу страницы.</p>
                    <p>Вот и все что рассказал маркетолог прежде чем уехать.</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container">
            <span class="text-muted">{{ contact }}</span>
        </div>
    </footer>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>